html {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: 7%;
    background: linear-gradient(180deg, magenta 50%, #03c1ff 50%);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.form {
    width: 25%;
    height: 25%;
    background-color: white;
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 1px 1px 20px darkblue, 0 0 25px darkviolet, 0 0 10px darkblue;
}

.btn {
    border-radius: 45px;
}

    .btn:hover {
        box-shadow: 1px 1px 10px darkviolet, 0 0 15px darkviolet, 0 0 10px darkviolet;
    }

fieldset {
    border: solid 1px white;
}
