
@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Provide prescription details</h2>

<div>
    <form method="post">
        <label for="name">Name</label>
        <input name="name" value="" id="name"/>
        <label for="dateOfIssue">Date of issue</label>
        <input name="dateOfIssue" type="date" value="" id="dateOfIssue"/>
        <input type="submit" value="Add Prescription"/>
    </form>
</div>
