@{
    ViewBag.Title = "Manage your prescriptions";
}

<div>
    <button type="button" class="btn btn-default" action="">Add prescription</button>
</div>

<div>
    Your prescriptions
    <ol>
        <li>
        </li>
    </ol>
</div>