@model List<ChronoPiller.Models.Prescription>

@{
    ViewBag.Title = "Manage your prescriptions";
}

<div>
    @Html.ActionLink("Add Prescription", "AddPrescription", "Home")
</div>

<div>
    @{
        if (Equals(Model.Count, 0))
        {
            <div>
                Here will display Your prescription list.
            </div>
        }
        else
        {
            <div>
                Your prescriptions
            </div>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Prescription Name
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    @{
                        foreach (var prescription in Model)
                        {
                            <tr>
                                <td>
                                    @prescription.Name
                                </td>
                                <td>
                                    @Html.ActionLink("View", "PrescriptionDetails", "Home", new { id = prescription.Name }, null)
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        }
    }
</div>