@using System.Net.Mail
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Reminders test</h1>
    <p>
        <a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>
<button id="remind">CLICK!</button>
<br/>
<form runat="server">
    <label for="Mailbox">Gimme emai</label>
    <input type="textbox" id="Mailbox" runat="server"/>
    @Html.ActionLink("Send mail!", "SendMail", "Home");
</form>

<h2>tu cos jeszcze być powinno</h2>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
        </p>
    </div>
</div>