@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Reminders test</h1>
    <p>
        <a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
    
    <h2> Local Image!</h2>
    <div>
        <img src="@Url.Content("Content/Images/yoda.jpg")" alt="Local doesn't work"/>
    </div>
    
    <h2>Web image</h2>
    <div>
        <img src="http://cdn.ebaumsworld.com/mediaFiles/picture/2196124/85294370.jpg"/>
    </div>
</div>
<button id="remind">CLICK!</button>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            jw.
        </p>
        <p>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
        </p>
    </div>
</div>