
@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Provide prescription details</h2>

<div>
    <form method="post">
        Name<input name="name" value="" />
        <input type="submit" value="Add Prescription"/>
    </form>
</div>
