<style>
    /* Outer */
    .popup {
        width: 100%;
        height: 100%;
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        background: rgba(0,0,0,0.75);
    }
    /* Inner */
    .popup-inner {
        max-width: 700px;
        width: 90%;
        padding: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        box-shadow: 0px 2px 6px rgba(0,0,0,1);
        border-radius: 3px;
        background: #fff;
    }
    /* Close Button */
    .popup-close {
        width: 30px;
        height: 30px;
        padding-top: 4px;
        display: inline-block;
        position: absolute;
        top: 0px;
        right: 0px;
        transition: ease 0.25s all;
        -webkit-transform: translate(50%, -50%);
        transform: translate(50%, -50%);
        border-radius: 1000px;
        background: rgba(0,0,0,0.8);
        font-family: Arial, Sans-Serif;
        font-size: 20px;
        text-align: center;
        line-height: 100%;
        color: #fff;
    }
        .popup-close:hover {
            -webkit-transform: translate(50%, -50%) rotate(180deg);
            transform: translate(50%, -50%) rotate(180deg);
            background: rgba(0,0,0,1);
            text-decoration: none;
        }
</style>
<script>
    $(function () {

        //----- OPEN
        $('[data-popup-open]').on('click', function(e)  {
            var targeted_popup_class = $(this).attr('data-popup-open');
            $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);
            e.preventDefault();
        });
        //----- CLOSE
        $('[data-popup-close]').on('click', function(e)  {
            var targeted_popup_class = $(this).attr('data-popup-close');
            $('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);
            e.preventDefault();
        });
    });
    $("#saveToList").click($.ajax({
        url: '/Prescription/AddToList',
        type: 'GET',
        data: { date: $("#toList").val() },
        contentType: 'application/json',
        fail: function(data) {
            console.log("Couldn't send " + data);
        }
    }));
    $("#buttonShowTheList").click(
        $.ajax({
            url: '/Prescription/GetDates',
            type: 'GET',
            dataType: 'json',
            success: function(result) {
                $("#showTheList").text(result);
            },
            fail: function() {
                console.log("show failed");
            }
        }));
</script>

<button data-popup-open="popup-1"> PopUp Open </button>
<div class="popup" data-popup="popup-1">
    <div class="popup-inner">
        <p>I am your friend PopUp!</p>
        <input id="toList" type="text" />
        <button id="saveToList">Save to List</button>
        <p id="showTheList"></p>
        <button id="buttonShowTheList">SHow the list</button>

        <p>
            <a data-popup-close="popup-1" href="#">Close</a>
        </p>
        <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
    </div>
</div>
